/AngularCode/.gitignore
node_modules
/AngularCode/
AngularCode
AngularCode/
/.gitignore
/.gitignore
/AngularCode/

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
AngularC
/.gitignore
/AngularCode/.editorconfig
/AngularCode/README.md
/AngularCode/angular.json
/AngularCode/browserslist
/AngularCode/e2e/protractor.conf.js
/AngularCode/e2e/src/app.e2e-spec.ts
/AngularCode/e2e/src/app.po.ts
/AngularCode/e2e/tsconfig.json
/AngularCode/favicon.ico
/AngularCode/karma.conf.js
/AngularCode/package-lock.json
/AngularCode/package.json
/AngularCode/src/app/app-routing.module.ts
/AngularCode/src/app/app.component.css
/AngularCode/src/app/app.component.html
/AngularCode/src/app/app.component.spec.ts
/AngularCode/src/app/app.component.ts
/AngularCode/src/app/app.module.ts
/AngularCode/src/app/components/competition-details/competition-details.component.css
/AngularCode/src/app/components/competition-details/competition-details.component.html
/AngularCode/src/app/components/competition-details/competition-details.component.spec.ts
/AngularCode/src/app/components/competition-details/competition-details.component.ts
/AngularCode/src/app/components/competitions-list/competitions-list.component.css
/AngularCode/src/app/components/competitions-list/competitions-list.component.html
/AngularCode/src/app/components/competitions-list/competitions-list.component.spec.ts
/AngularCode/src/app/components/competitions-list/competitions-list.component.ts
/AngularCode/src/app/components/login-form/login-form.component.css
/AngularCode/src/app/components/login-form/login-form.component.html
/AngularCode/src/app/components/login-form/login-form.component.spec.ts
/AngularCode/src/app/components/login-form/login-form.component.ts
/AngularCode/src/app/components/my-competitions/my-competitions/my-competitions.component.css
/AngularCode/src/app/components/my-competitions/my-competitions/my-competitions.component.html
/AngularCode/src/app/components/my-competitions/my-competitions/my-competitions.component.spec.ts
/AngularCode/src/app/components/my-competitions/my-competitions/my-competitions.component.ts
/AngularCode/src/app/components/my-data/my-data/my-data.component.css
/AngularCode/src/app/components/my-data/my-data/my-data.component.html
/AngularCode/src/app/components/my-data/my-data/my-data.component.spec.ts
/AngularCode/src/app/components/my-data/my-data/my-data.component.ts
/AngularCode/src/app/components/old-competitions-list/old-competitions-list.component.css
/AngularCode/src/app/components/old-competitions-list/old-competitions-list.component.html
/AngularCode/src/app/components/old-competitions-list/old-competitions-list.component.spec.ts
/AngularCode/src/app/components/old-competitions-list/old-competitions-list.component.ts
/AngularCode/src/app/models/category/category.spec.ts
/AngularCode/src/app/models/category/category.ts
/AngularCode/src/app/models/competition/competition.spec.ts
/AngularCode/src/app/models/competition/competition.ts
/AngularCode/src/app/models/competitionSignInData/competition-sing-in-data.spec.ts
/AngularCode/src/app/models/competitionSignInData/competition-sing-in-data.ts
/AngularCode/src/app/models/login/login-data.spec.ts
/AngularCode/src/app/models/login/login-data.ts
/AngularCode/src/app/models/player/player.spec.ts
/AngularCode/src/app/models/player/player.ts
/AngularCode/src/app/services/competition-service/competition.service.spec.ts
/AngularCode/src/app/services/competition-service/competition.service.ts
/AngularCode/src/app/services/competition.service.spec.ts
/AngularCode/src/app/services/competition.service.ts
/AngularCode/src/app/services/login-service/login.service.spec.ts
/AngularCode/src/app/services/login-service/login.service.ts
/AngularCode/src/app/services/player-service/player.service.spec.ts
/AngularCode/src/app/services/player-service/player.service.ts
/AngularCode/src/assets/.gitkeep
/AngularCode/src/environments/environment.prod.ts
/AngularCode/src/environments/environment.ts
/AngularCode/src/index.html
/AngularCode/src/main.ts
/AngularCode/src/polyfills.ts
/AngularCode/src/styles.css
/AngularCode/src/test.ts
/AngularCode/tsconfig.app.json
/AngularCode/tsconfig.json
/AngularCode/tsconfig.spec.json
/AngularCode/tslint.json
/SpringAPI/racetiming/.gitignore
/.angulardoc.json
/AngularCode
/.gitignore
/client/src/app/components/cos.sql
