<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Place</th>
          <th scope="col">Organizer</th>
          <th scope="col">More</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competition of login.players.competitions">
          <td>{{ competition.date }}</td>
          <td>{{ competition.name }}</td>
          <td>{{ competition.place }}</td>
          <td>{{ competition.organizer }} Organization</td>
          <td><a (click)="gotoDetails(competition.id)" routerLink="/competitiondetails" class="btn btn-info">More...</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
