<div *ngIf="loggedIn">You are logged in</div>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="login.email"
          class="form-control" id="email" name="email" placeholder="Enter your email"
          required #email="ngModel">
      </div>
      <div [hidden]="!login.pristine" class="alert alert-danger">Email is required</div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="login.password"
          class="form-control" id="password" name="password" placeholder="Enter your password"
          required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
