<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLinkActive="active" routerLink="/competitions" class="btn btn-info">List Competitions</a></li>
            <li *ngIf="!login.role.name"class="list-inline-item"><a routerLinkActive="active" routerLink="/login" class="btn btn-info">Login</a></li>
            <li *ngIf="!login.role.name "class="list-inline-item"><a routerLinkActive="active" routerLink="/registration" class="btn btn-info">Register</a></li>

              <div  *ngIf="login.role.name=='player'" class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" ng-href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My account
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="/my-data">My data</a>
                  <a class="dropdown-item" routerLink="/my-competitions">My competitions</a>
                  <a (click)="logout()" class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
              <div  *ngIf="login.role.name=='admin'" class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" ng-href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin account
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="/my-data">My data</a>
                  <a (click)="logout()" class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
