<div class="card" ng-if="!competition==undefined">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
      <table class="table table-borderless">
        <tbody>
          <ul class="list-group list-group-flush">
            <tr>
              <label for="name">Name</label>
                <input type="text" [(ngModel)]="player.name"
                  class="form-control" id="name" name="name" placeholder="Enter your name"
                  required #name="ngModel">
                <div [hidden]="!player.pristine" class="alert alert-danger">Name is required</div>
            </tr>
            <tr>
              <label for="surname">Surname</label>
              <input type="text" [(ngModel)]="player.surname"
                class="form-control" id="surname" name="surname" placeholder="Enter your surname"
                required #surname="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">Surname is required</div>
            </tr>
            <tr>
              <label for="city">City</label>
              <input type="text" [(ngModel)]="player.city"
                class="form-control" id="city" name="city" placeholder="Enter your city"
                required #city="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">City is required</div>
            </tr>
            <tr>
              <label for="birthDate">Birth date</label>
              <input type="text" [(ngModel)]="player.birthDate"
                class="form-control" id="birthDate" name="birthDate" placeholder="Enter your birthDate"
                required #birthDate="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">Birth date is required</div>
            </tr>
            <tr>
              <label for="country">Country</label>
              <input type="text" [(ngModel)]="player.country"
                class="form-control" id="country" name="country" placeholder="Enter your country"
                required #country="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">Country is required</div>
            </tr>
            <tr>
              <label for="sex">Sex</label>
              <input type="text" [(ngModel)]="player.sex"
                class="form-control" id="sex" name="sex" placeholder="Enter your sex"
                required #sex="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">sex is required</div>
            </tr>
            <tr>
              <label for="phone">Phone number</label>
              <input type="text" [(ngModel)]="player.phone"
                class="form-control" id="phone" name="phone" placeholder="Enter your phone"
                required #phone="ngModel">
              <div [hidden]="!player.pristine" class="alert alert-danger">phone is required</div>
            </tr>
            <tr>
            <label for="team">Team</label>
              <input type="text" [(ngModel)]="player.team"
                class="form-control" id="team" name="team" placeholder="Enter your team">
            </tr>
            <tr>
              <label for="license">License</label>
              <input type="text" [(ngModel)]="player.license"
                class="form-control" id="license" name="license" placeholder="Enter your license">
            </tr>
            </ul>
          <button type="submit" [disabled]="!playerForm.form.valid" class="btn btn-info">Submit</button>
        </tbody>
      </table>
    </form>
  </div>
</div>
