<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #competitionForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="competition.name"
          class="form-control" id="name" name="name" placeholder="Enter name of competition"
          required #name="ngModel">
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="place">Place</label>
        <input type="text" [(ngModel)]="competition.place"
          class="form-control" id="place" name="place" placeholder="Enter place"
          required #place="ngModel">
        <div [hidden]="!place.pristine" class="alert alert-danger">Place is required</div>
      </div>
      <div class="form-group">
        <label for="dyscipline">Dyscipline</label>
        <input type="text" [(ngModel)]="competition.dyscipline"
          class="form-control" id="dyscipline" name="dyscipline" placeholder="Enter dyscipline"
          required #dyscipline="ngModel">
        <div [hidden]="!dyscipline.pristine" class="alert alert-danger">Dyscipline is required</div>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" [(ngModel)]="competition.date"
          class="form-control" id="date" name="date" placeholder="Enter date"
          required #date="ngModel">
        <div [hidden]="!date.pristine" class="alert alert-danger">Date is required</div>
      </div>
      <div class="form-group">
        <label for="organizer">Organizer</label>
        <input type="text" [(ngModel)]="competition.organizer"
          class="form-control" id="organizer" name="organizer" placeholder="Enter organizer"
          required #organizer="ngModel">
        <div [hidden]="!organizer.pristine" class="alert alert-danger">Organizer is required</div>
      </div>
      <div class="form-group">
        <label for="deadlinedate">Deadline Date</label>
        <input type="text" [(ngModel)]="competition.deadlinedate"
          class="form-control" id="deadlinedate" name="deadlinedate" placeholder="Enter deadline date"
          required #deadlinedate="ngModel">
        <div [hidden]="!deadlinedate.pristine" class="alert alert-danger">Deadlinedate is required</div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="competition.description"
          class="form-control" id="description" name="description" placeholder="Enter description"
          required #description="ngModel">
        <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
      </div>
      <div class="form-group">
        <label for="regurl">Regulamin Url</label>
        <input type="text" [(ngModel)]="competition.regurl"
          class="form-control" id="regurl" name="regurl" placeholder="Enter regurl"
          required #regurl="ngModel">
        <div [hidden]="!regurl.pristine" class="alert alert-danger">RegUrl is required</div>
      </div>
      <div class="form-group">
        <label for="playerslimit">Players Limit</label>
        <input type="text" [(ngModel)]="competition.playerslimit"
          class="form-control" id="playerslimit" name="playerslimit" placeholder="Enter PlayersLimit"
          required #playerslimit="ngModel">
        <div [hidden]="!playerslimit.pristine" class="alert alert-danger">PlayersLimit is required</div>
      </div>
      <div class="form-group">
        <label for="resultsurl">ResultsUrl</label>
        <input type="text" [(ngModel)]="competition.resultsurl"
          class="form-control" id="resultsurl" name="resultsurl" placeholder="Enter ResultsUrl"
          required #resultsurl="ngModel">
        <div [hidden]="!resultsurl.pristine" class="alert alert-danger">ResultsUrl is required</div>
      </div>

      <button type="submit" [disabled]="!competitionForm.form.valid" class="btn btn-info">Submit</button>
    </form>

  </div>
</div>
