<div class="card" ng-if="!competition==undefined">
  <div class="card-body">
      <form (ngSubmit)="deleteEvent()"   *ngIf="login.role.name=='admin'">
          <button class="btn btn-danger" type="submit" *ngIf="login.role.name=='admin'">Delete event</button>
        </form>
  <table class="table table-borderless">
  <tbody>
  <ul class="list-group list-group-flush">
   <tr>
       <li class="list-group-item"> <td><b> Name: </b></td><td> {{competition.name }}</td></li>
    </tr>
    <tr>
       <li class="list-group-item"> <td><b> Date: </b></td><td> {{competition.date }}</td></li>
    </tr>
    <tr>
      <li class="list-group-item"> <td><b>Discipline: </b></td><td> {{competition.dyscipline}}</td></li>
    </tr>
    <tr>
      <li class="list-group-item"> <td><b> Place:</b> </td> <td> {{competition.place}} </td></li>
    </tr>
    <tr>
      <li class="list-group-item"> <td><b>Organizer: </b></td><td>{{competition.organizer}}</td></li>
    </tr>
    <tr>
      <li class="list-group-item"> <td><b>Signing deadline: </b></td><td>  {{competition.deadline_date | slice:0:10}}</td></li>
    </tr>

    </ul>
  </tbody>
</table>
<div class="card">
  <h5 class="card-title"><b>Description: </b></h5>
  <h6 class="card-link">
    <a href="https://www.race-timing.pl/media/uploads/wyniki/2019/reg_pumptrack_krakow.pdf"> Regulations</a>
  </h6>
  <p class="card-text">{{competition.description}}</p>
</div>
  <form (ngSubmit)="signIn()"   *ngIf="login.role.name=='player' && !signedIn">
    <button [disabled]="old || login==null || signedIn" type="submit" class="btn btn-info" >SignIn</button>
  </form>
  <a *ngIf="signedIn" (click)="singOut(competition.id)" class="btn btn-danger">SingOut</a>

  <div *ngIf="signedIn" class="alert alert-danger">You are already signed in.</div>
  <div *ngIf="login==null" class="alert alert-danger">Please log in</div>
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Team</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Sex</th>

    </tr>
  </thead>
  <tbody *ngFor="let player of competition.players">
    <tr>
      <td>{{player.name}}</td>
      <td>{{player.surname}}</td>
      <td>{{player.team}}</td>
      <td>{{player.city}}</td>
      <td>{{player.country}}</td>
      <td>{{player.sex}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
