<button class="btn btn-info" routerLink="/competitions">Upcoming events</button>
<button class="btn btn-info" routerLink="/oldcompetitions">Past events</button>
<button class="btn btn-info" routerLink="/add-competition" *ngIf="login.role.name=='admin'">Add event</button>
<form (ngSubmit)="dateFilter()" #loginForm="ngForm">
  From:
  <input type="date" id="date1" name="date1" [(ngModel)]="date1"
    placeholder="yyyy-MM-dd" min="2013-01-01" max="2021-12-31"  />
    To:
    <input type="date" id="date2" name="date2" [(ngModel)]="date2"
    placeholder="yyyy-MM-dd" min="2013-01-01" max="2021-12-31"  />
    <button type="submit" class="btn btn-info">Filter</button>
</form>
<form (ngSubmit)="clearDate()" >
  <button class="btn btn-danger" type="submit">Clear filter</button>
</form>


<div class="card my-5">
  <div class="card-body">
      <input [formControl]= "queryField" type="text" id="keyword" placeholder="Search for competitions.." autofocus/>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Place</th>
          <th scope="col">Organizer</th>
          <th scope="col">More</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competition of competitions">
          <td>{{ competition.date | slice:0:10 }}</td>
          <td>{{ competition.name }}</td>
          <td>{{ competition.place }}</td>
          <td>{{ competition.organizer }} Organization</td>
          <td><a (click)="gotoDetails(competition.id)" class="btn btn-info">More...</a></td>
        </tr>
      </tbody>
    </table>

      <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled:currentPage===1}"><a class="page-link" (click)="setPage(currentPage-1)">Previous</a></li>
        <div *ngFor="let page of pages" class="page-item">
        <li class="page-item"[ngClass]="{disabled:currentPage===page}"><a class="page-link page" (click)="setPage(page)">{{page}}</a></li>
        </div>
        <li class="page-item" [ngClass]="{disabled:currentPage===totalPages}"><a class="page-link" (click)="setPage(currentPage+1)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
